<% content_for :title do %>Add a technical interview question<% end %>
<div class="row">
  <div class="small-12 large-12 columns panel">
    <h1>Post a Question</h1>
     <%= form_for @question do |f| %>
     <div class="row">
       <div class="small-12 large-12 columns">
          <%= f.text_area :title, placeholder: "Question ...", size: "60x12" %>
        </div>
      </div>
     <div class="row">
       <div class="small-12 large-12 columns">
        <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)" %>
      </div>
    </div>
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= f.submit "Submit Question", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

