<% content_for :title do %>Tech Interview Tips: About Us<% end %>
<div class="row panel">
<div class="small-12 large-12 columns">
  <h1>About</h1>
  <p>This website was originally created as our <a href="http://www.devbootcamp.com">Dev Bootcamp</a> final project. Our intention was to create a way that we, and other web developers, could prepare for technical interviews and share what we've learned with others. We hope you find it useful.</p>
  <h3>Original Team</h3>
</div>

  <div class="large-3 columns text-center add-bottom-padding">

    <h3>Jackie<br>Johnston</h3>
    <dt>Project Lead</dt>
    <img class="gravatar-round" alt="Jackie Johnston" src="https://secure.gravatar.com/avatar/b2f0960abcd0aa0c8fc7aaddcef50195.png?r=PG&amp;d=mm&amp;s=100" title="Jackie Johnston" />

    <dd><a href="https://github.com/jackiejohnston" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>

    <a href="https://twitter.com/heartsbeach" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

    <a href="http://www.linkedin.com/in/jacquelinejohnston/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></dd>

  </div>

  <div class="large-3 columns text-center add-bottom-padding">

    <h3>Germain<br>Boué</h3>
    <dt>Growth Hacker</dt>
    <img class="gravatar-round" alt="Germain Boue" src="https://secure.gravatar.com/avatar/bed21d02d7b56eb6949c562de34132b6.png?r=PG&amp;d=mm&amp;s=100" title="Germain Boue" />

    <dd><a href="https://github.com/boue" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>

    <a href="https://twitter.com/specktackle" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

    <a href="http://www.linkedin.com/in/germainboue/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></dd>

    </div>

    <div class="large-3 columns text-center add-bottom-padding">

      <h3>Drew<br>Parker</h3>
      <dt>General Developer</dt>
      <img class="gravatar-round" alt="Drew Parker" src="https://secure.gravatar.com/avatar/2ace3da3e21800f4ea5684cb3a71f4c2.png?r=PG&amp;d=mm&amp;s=100" title="Drew Parker" />

      <dd><a href="https://github.com/drewcp87" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>

      <a href="https://twitter.com/drewcp87" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

      <a href="http://www.linkedin.com/in/drewchongparker" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></dd>

    </div>

    <div class="large-3 columns text-center add-bottom-padding">

      <h3>Mason<br>O'Neal</h3>
      <dt>Testing & Development</dt>
      <img class="gravatar-round" alt="Mason O’Neal" src="https://secure.gravatar.com/avatar/e294f258d2740acc74d52d1dd2974186.png?r=PG&amp;d=mm&amp;s=100" title="Mason O'Neal" />

      <dd><a href="https://github.com/MasonONeal" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>

      <a href="https://twitter.com/MasONeal" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

      <a href="http://www.linkedin.com/in/masononeal" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></dd>
      

  </div>
  <div class="small-12 large-12 columns">
  <h3>Open Source</h3>
  <p>This is now an Open Source project. To learn more, please visit <a href="https://github.com/jackiejohnston/tech-interview-tips/">its GitHub repo</a>. We also provide limited access to the information on this site via <a href="http://www.techinterview.tips/api/questions">our API</a> if you would like to use it on your own website. (Note: If you want to see the information nicely formatted, you can use a Chrome extension such as <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc">JSONView.</a>) There is also an <a href="/actions">Activity Feed</a> available.</p>
  </div>

</div>








