@import url(http://fonts.googleapis.com/css?family=Candal);
.headline { 
  font-family: ‘Candal’, sans-serif;
  font-weight: 400;
}

.img-container {
  height: 100%;
  margin: 0 auto;
  background: url(https://s3-us-west-1.amazonaws.com/tech-tips/unsplash_52b6b4db7397c_1.JPG) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  width: 0;
}

.gravatar-nav {
  width: 46px;
  height: 46px;
  display: block;
}

.gravatar-body {
  width: 46px;
  height: 46px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  float: right;
  margin-left: 10px;
}

html body {
  background-image:url('https://s3-us-west-1.amazonaws.com/tech-tips/mochaGrunge.png');
  background-repeat:repeat;
}

html .grey-out {
  color: rgba(0,0,0,.4);
}

html h1, h2, h3 {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Candal', sans-serif;
  }

html .label>a {
  color: white;
  text-decoration: none;
}

.lighten-up {
  padding: 20px;
  background-color: rgba(255, 255, 255, .7);
  text-align: center;
}

html h5 {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

html .gravatar-round {
width: 100px;
height: 100px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
margin: 10px;
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

html .inactive {
   pointer-events: none;
   cursor: default;
}

html #tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}